*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body,html{
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.poster{
 
  width: 400px;
  background-color: palevioletred;
  border-radius: 20px;
  padding: 20px;
  margin: 80px;
}